
.Contacts h1{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.Contacts h1::before{
    content: "";
    background: #FF9400;
    border-radius: 25px;
    width: 15px;
    height: 35px;
    margin-top: 7px;
    margin-right: 5px;;
} 
.phoneItem{
    // border: 2px solid black;
    margin: 70px 17%;
    display: flex;
    flex-wrap: wrap;
}
.map iframe{
    height: 400px;
    width: 40%;
}
.map{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}