.Price{

}
.Price h1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.Price h1::before{
    content: "";
    background: #FF9400;
    border-radius: 25px;
    width: 15px;
    height: 35px;
    margin-top: 7px;
    margin-right: 5px;;
}

.Price nav ul{
    display: flex;
    justify-content: center;
    li p{
    color: black;
    }
}